$primary-color: #1d2120;
$level-color: #5D666C;

.about-page{
    width: 100%;
    height: 100%;
    background-color: $primary-color;
}

.tools-used{
    height: 200px;

}
.why{
    padding: 30px;
}

.tool{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.tools{
    height: 70px;
    margin-right: 20px;
}

.partners{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
}

.partner{
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // align-content: center;
    width: 150px;
}

.personal-pic{
    width: 125px;
}

.cool_button{
    margin: 10px;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100px;
    background-color: $level-color;
    font-size: 17px;
    transition: all .2s ease-in-out;
    color: white;
}

.cool_button:hover{
    transform: scale(1.2);
    background-color: #6A7383;
}

a{
color: white;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
