

.aboutBack{
    background-color: #252525;
    width: 100%;
    height: 100vh;
}

#infoBoxes{
    width: 600px;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid white;
}

#aboutBtn{
    margin: 20px;
    width: 150px;
    background-color: transparent;
    color: white;
    border: 1px solid;
}