$main-color: #434448;
$game-color: #18242D;
$level-color: #5D666C;
$level2-color: #98FD82;

$two: #C0B4A5;
$four: #F2CB35;
$eight: #FF891F;
$sixteen: #FF0A15;
$thirty:  #7DCB3E;
$sixty:  #C47BFB;
$onehund: #FF019D;
$twohund:  #12B559;
$fivehund: #8500F5;
$thous: #018EE6;
$twothous: #000000;

#backBtn{
    border-radius: 100px;
    border: none;
    height: 35px;
    width: 35px;
    background-color: black;
    color: white;
    margin: auto;
    margin-bottom: 0px;
    margin-left: 350px;
    position: fixed;
}

.backgroundBox{
    background-color: #434448;
    // padding: 10px;
    // padding-bottom: 10px;
    // min-height: 100%;
    // min-width: 1024px;

    width: 100%;
    height: auto;

    // position: fixed;
    // top: 0;
    // left: 0;
}

.mainBox{
    width: 400px;
    height: 485px;
    margin: auto;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: black;
    overflow: scroll;

    border: 1px solid $onehund; 
    margin: auto;
    margin-top: 10px;
    /* border-radius: 10px; */

  

  

}

.mainBox-day{
    @extend .mainBox;

    border: 1px solid $sixteen; 

    -webkit-animation: glow2 1.5s infinite alternate;
  -webkit-transition: border 1.5s linear, box-shadow 1.5s linear;
  -moz-transition: border 1.5s linear, box-shadow 1.5s linear;
  transition: border 1.5s linear, box-shadow 1.5s linear;
  
  transition: all 200ms ease-in-out;


    @-webkit-keyframes glow2 {
        to {
          border-color: $sixteen; 
          -webkit-box-shadow: 0 0 15px $sixteen; 
          -moz-box-shadow: 0 0 15px $sixteen; 
          box-shadow: 0 0 30px $sixteen; 
        }
      }
}

.mainBox-week{
    @extend .mainBox;

    border: 1px solid $thirty; 

    -webkit-animation: glow3 1.5s infinite alternate;
  -webkit-transition: border 1.5s linear, box-shadow 1.5s linear;
  -moz-transition: border 1.5s linear, box-shadow 1.5s linear;
  transition: border 1.5s linear, box-shadow 1.5s linear;
  
  transition: all 200ms ease-in-out;

    @-webkit-keyframes glow3 {
        to {
          border-color: $thirty; 
          -webkit-box-shadow: 0 0 15px $thirty; 
          -moz-box-shadow: 0 0 15px $thirty; 
          box-shadow: 0 0 30px $thirty; 
        }
      }
}

.mainBox-month{
    @extend .mainBox;

    border: 1px solid $eight; 

    -webkit-animation: glow4 1.5s infinite alternate;
  -webkit-transition: border 1.5s linear, box-shadow 1.5s linear;
  -moz-transition: border 1.5s linear, box-shadow 1.5s linear;
  transition: border 1.5s linear, box-shadow 1.5s linear;
  
  transition: all 200ms ease-in-out;

    @-webkit-keyframes glow4 {
        to {
          border-color: $eight; 
          -webkit-box-shadow: 0 0 15px $eight; 
          -moz-box-shadow: 0 0 15px $eight; 
          box-shadow: 0 0 30px $eight; 
        }
      }
}

.mainBox-overall{
    @extend .mainBox;

    border: 1px solid $sixty; 

    -webkit-animation: glow5 1.5s infinite alternate;
  -webkit-transition: border 1.5s linear, box-shadow 1.5s linear;
  -moz-transition: border 1.5s linear, box-shadow 1.5s linear;
  transition: border 1.5s linear, box-shadow 1.5s linear;
  
  transition: all 200ms ease-in-out;

    @-webkit-keyframes glow5 {
        to {
          border-color: $sixty; 
          -webkit-box-shadow: 0 0 15px $sixty; 
          -moz-box-shadow: 0 0 15px $sixty; 
          box-shadow: 0 0 30px $sixty; 
        }
      }
}


.pageTitles{
    display: flex;
    justify-content: space-around;
    color: white;
    height: 60px;
}

.playerBox{
    border: 1px solid black;
    margin: 10px;
    width: 150px;
    color: white;
    margin-top: 0px;
}

.scoreBox{
    border: 1px solid black;
    margin: 10px;
    width: 150px;
    color: white;
    margin-top: 0px;
}

/* Score Bttns */

.truedayScoreBtns{
    margin: 5px;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 93px;
    background-color: $sixteen;
    font-size: 17px;
    transition: all .2s ease-in-out;
}

.falsedayScoreBtns{
    margin: 5px;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 93px;
    background-color: black;
    color: white;
    font-size: 17px;
    transition: all .2s ease-in-out;
}

.falsedayScoreBtns:hover{
    transform: scale(1.1);
    background-color: $sixteen;
}
.falseweekScoreBtns:hover{
    transform: scale(1.1);
    background-color: $thirty;
}
.falsemonthScoreBtns:hover{
    transform: scale(1.1);
    background-color: $eight;
}
.falseoverallScoreBtns:hover{
    transform: scale(1.1);
    background-color: $sixty;
}

.truedayScoreBtns:hover{
    transform: scale(1.1);
}

.trueweekScoreBtns:hover{
    transform: scale(1.1);
}
.truemonthScoreBtns:hover{
    transform: scale(1.1);
}
.trueoverallScoreBtns:hover{
    transform: scale(1.1);
}



.trueweekScoreBtns{
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 93px;
    margin: 5px;
    background-color: $thirty;
    font-size: 17px;
    transition: all .2s ease-in-out;
}

.falseweekScoreBtns{
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 93px;
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 17px;
    transition: all .2s ease-in-out;
}

.truemonthScoreBtns{
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 93px;
    margin: 5px;
    background-color: $eight;
    font-size: 17px;
    transition: all .2s ease-in-out;
}

.falsemonthScoreBtns{
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 93px;
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 17px;
    transition: all .2s ease-in-out;
}

.trueoverallScoreBtns{
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 93px;
    margin: 5px;
    background-color: $sixty;
    font-size: 17px;
    transition: all .2s ease-in-out;
}

.falseoverallScoreBtns{
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 93px;
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 17px;
    transition: all .2s ease-in-out;
}



/************************************/

.scorePlayers{
    display: flex;
    justify-content: center;
    overflow: scroll;
    /* margin-top: 25px; */
}

.userNames{
    text-align: left;
    padding-left: 30px;
}