$main-color: #434448;
$game-color: #18242D;
$level-color: #5D666C;
$level2-color: #98FD82;

$two: #C0B4A5;
$four: #F2CB35;
$eight: #FF891F;
$sixteen: #FF0A15;
$thirty:  #7DCB3E;
$sixty:  #C47BFB;
$onehund: #FF019D;
$twohund:  #12B559;
$fivehund: #8500F5;
$thous: #018EE6;
$twothous: #000000;

#backBtn{
    // border-radius: 5px;
    border: none;
    height: 25px;
    width: 75px;
    background-color: black;
    text-decoration: none;
    color: white;
    transition: none;
}

.backgroundBox{
    background-color: #434448;
    padding: 20px;
    padding-bottom: 10px;
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}

.mainBox{
    width: 400px;
    height: 500px;
    margin: auto;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: black;
    overflow: scroll;

    border: 1px solid $onehund; 
    // background-color: black;
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    /* border-radius: 10px; */

    -webkit-animation: glow 1.5s infinite alternate;
  -webkit-transition: border 1.5s linear, box-shadow 1.5s linear;
  -moz-transition: border 1.5s linear, box-shadow 1.5s linear;
  transition: border 1.5s linear, box-shadow 1.5s linear;
  


  /* border-radius: 10px; */
  transition: all 200ms ease-in-out;
}



.pageTitles{
    display: flex;
    justify-content: space-around;
    color: white;
    height: 60px;
}

.playerBox{
    border: 1px solid black;
    margin: 10px;
    width: 150px;
    color: white;
    margin-top: 0px;
}

.scoreBox{
    border: 1px solid black;
    margin: 10px;
    width: 150px;
    color: white;
    margin-top: 0px;
}

/* Score Bttns */

.truedayScoreBtns{
    margin: 5px;
    // border-radius: 5px;
    border: none;
    height: 25px;
    width: 75px;
    background-color: $sixteen;
}

.falsedayScoreBtns{
    margin: 5px;
    // border-radius: 5px;
    border: none;
    height: 25px;
    width: 75px;
    background-color: black;
    color: white;
}

.trueweekScoreBtns{
    // border-radius: 5px;
    border: none;
    height: 25px;
    width: 75px;
    margin: 5px;
    background-color: $thirty;
}

.falseweekScoreBtns{
    // border-radius: 5px;
    border: none;
    height: 25px;
    width: 75px;
    margin: 5px;
    background-color: black;
    color: white;
}

.truemonthScoreBtns{
    // border-radius: 5px;
    border: none;
    height: 25px;
    width: 75px;
    margin: 5px;
    background-color: $eight;
}

.falsemonthScoreBtns{
    // border-radius: 5px;
    border: none;
    height: 25px;
    width: 75px;
    margin: 5px;
    background-color: black;
    color: white;
}

.trueoverallScoreBtns{
    // border-radius: 5px;
    border: none;
    height: 25px;
    width: 75px;
    margin: 5px;
    background-color: $sixty;
}

.falseoverallScoreBtns{
    // border-radius: 5px;
    border: none;
    height: 25px;
    width: 75px;
    margin: 5px;
    background-color: black;
    color: white;
}

/************************************/

.scorePlayers{
    display: flex;
    justify-content: center;
    overflow: scroll;
    /* margin-top: 25px; */
}

.userNames{
    text-align: left;
    padding-left: 30px;
}