$main-color: #434448;

body
{
  margin: 0;
  padding: 0;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#clicks{
  z-index: 2;
  filter:none;
}

a:hover
{
  color: #55008d;
  font-weight: 600;
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -33px;
  left: 54.5vw;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * hamburger
 */
#menuToggle span
{
  display: block;
  width: 4px;
  height: 33px;
  margin-bottom: 5px;
  position: absolute;
  top: -26px;
  left: 55vw;
  background: #ababab;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  left: 56vw;
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 */
#menuToggle input:checked ~ span
{
  position: relative;
  top: -26px;
  left: 55vw;
  width: 33px;
  height: 4px;
  opacity: 1;
  transform: rotate(27deg) translate(-2px, -5px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  position: relative;
  top: -26px;
  left: 55vw;
  width: 33px;
  height: 4px;
  transform: rotate(90deg) translate(-12px, 2px);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  position: relative;
  top: -26px;
  left: 55vw;
  width: 33px;
  height: 4px;
  transform: rotate(-28deg) translate(0, 4px);
}

#menu
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  text-align:center;
  
  background: $main-color ;
  opacity: 0.9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}