.container{
    background: rgb(119, 17, 17);
}

.actual-grid {
    background: white;
    display:grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 300px;
    height: 460px;
    margin: auto;
    border: 1px solid black;
}

